{% extends 'contacts/base.html' %}

{% block title %}File List{% endblock %}

{% block content %}
<div class="col-sm-4">
    <h1>File List</h1>
</div>
<div class="col-sm-4">
    <a href="{% url 'upload_file' %}">
        <button type="submit" class="btn btn-success rounded-pill btn-lg">Upload File</button>
    </a>
</div>
<div class="row">
    <div class="file-list">
        {% if files %}
        {% for file in files %}
        <div class="margin">
            <div class="col-sm-4">
                <div class="card">
                    {% if file.category == 'images' %}
                    <img src="{{ file.file.url }}" class="card-img-top">
                    <p style="font-weight: bold">Title: {{ file.name }}</p>
                    Category: {{ file.category }}
                    {% elif file.category == 'videos' %}
                    <p class="pic_v"></p>
                    <p style="font-weight: bold">Title: {{ file.name }}</p>
                    Category: {{ file.category }}
                    {% else %}
                    <p class="pic_t"></p>
                    <p style="font-weight: bold">Title: {{ file.name }}</p>
                    Category: {{ file.category }}
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">Uploaded: {{ file.upload_datetime|date:"F j, Y H:i" }}</p>
                    </div>
                    <div class="file-actions">
                        <a href="{% url 'download_file' file.id %}" download>
                            <span class="badge rounded-pill bg-primary">Download</span>
                        </a>
                        <a href="{% url 'delete_file' file.id %}" class="file-delete">
                            <span class="badge rounded-pill bg-danger">Delete</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No files found.</p>
        {% endif %}
    </div>
</div>

{% if files.has_other_pages %}
<div class="list-pages">
    {% if files.has_previous %}
    <a href="?page=1">&laquo;</a>
    <a href="?page={{ files.previous_page_number }}">Previous</a>
    {% endif %}
    <span class="current-page">{{ files.number }}</span>
    <span class="total-pages">of {{ files.paginator.num_pages }}</span>
    {% if files.has_next %}
    <a href="?page={{ files.next_page_number }}">Next</a>
    <a href="?page={{ files.paginator.num_pages }}">&raquo;</a>
    {% endif %}
</div>
{% endif %}

<style>
    body {
        margin: 0;
        padding: 0;
        background-color: #acaaa7;
        /* Replace with your desired color */
    }
</style>
{% endblock %}
