{% extends 'contacts/base.html' %}

{% block content %}

<nav>
    <ul>
        <div class="row">
            <div class="col-sm-4">
                <a href="{% url 'upload_file' %}"><button type="submit" class="btn btn-success rounded-pill btn-lg">Upload
                        File</button></a>
                <a href="{% url 'file_list' %}"><button type="submit" class="btn btn-info rounded-pill btn-lg">File
                        List</button></a>
            </div>
        </div>
    </ul>
</nav>

<style>
    body {
        margin: 0;
        padding: 0;
        background-color: #acaaa7;
        /* Replace with your desired color */
    }
</style>
{% endblock %}