{% extends 'contacts/base.html' %}

{% block content %}

{% if messages %}
{% for msg in messages %}
<div class="alert {%if msg.tags %} alert-{{msg.tags}} {% endif %}" role="alert">{{msg}}</div>
{% endfor %}
{% endif %}
{% if weather != None %}
<h1 class="container-1">Погода для <b>{{ weather.0.city }}</b> <a id="showHideContent">Інше місто</a></h1>
{% else %}
<p class="container-1"><h1>Місто не знайдено</h1><a id="showHideContent">Інше місто</a></p>
{% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.2.3/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
    $("#showHideContent").click(function () {
        if ($("#form-show").is(":hidden")) {
            $("#form-show").css("display", "flex");
        } else {
            $("#form-show").css("display", "none");
        }
        return false;
    });
});
</script>
<form class="row g-3" action="/" method="POST" id="form-show" style="display:none;">
    {% csrf_token %}
  <div class="col-auto">
    <label class="col-form-label">Місто: </label>
  </div>
  <div class="col-auto">
    <input type="text" class="form-control"  name="city">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3 btn-secondary" value="Send">ОК</button>
  </div>
</form>

{% for w in weather %}
{% if not w.done %}
<table class="table-primary container-1">
    <tr>
        <td>
            <img src="{{ w.icon }}" width="100">
        </td>
        <td>
            Температура °C {{ w.mintemp }}°-{{ w.maxtemp }}°<br>
            Вологість, % {{ w.avghumidity }}<br>
            Вітер, м/сек {{ w.maxwind }}<br>
            {{ w.date }}
        </td>
</table>
{% else %}
<p>NONE</p>
{% endif %}
{% endfor %}

<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

<!-- Chart code -->
<script>
am5.ready(function() {

// Create root element
// https://www.amcharts.com/docs/v5/getting-started/#Root_element
var root = am5.Root.new("chartdiv");


// Set themes
// https://www.amcharts.com/docs/v5/concepts/themes/
root.setThemes([
  am5themes_Animated.new(root)
]);


// Create chart
// https://www.amcharts.com/docs/v5/charts/xy-chart/
var chart = root.container.children.push(am5xy.XYChart.new(root, {
  panX: true,
  panY: true,
  wheelX: "panX",
  wheelY: "zoomX",
  pinchZoomX:true
}));

chart.get("colors").set("step", 3);


// Add cursor
// https://www.amcharts.com/docs/v5/charts/xy-chart/cursor/
var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {}));
cursor.lineY.set("visible", false);


// Create axes
// https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
var xAxis = chart.xAxes.push(am5xy.DateAxis.new(root, {
  maxDeviation: 0.3,
  baseInterval: {
    timeUnit: "day",
    count: 1
  },
  renderer: am5xy.AxisRendererX.new(root, {}),
  tooltip: am5.Tooltip.new(root, {})
}));

var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
  maxDeviation: 0.3,
  renderer: am5xy.AxisRendererY.new(root, {})
}));


// Add series
// https://www.amcharts.com/docs/v5/charts/xy-chart/series/
var series = chart.series.push(am5xy.LineSeries.new(root, {
  name: "Series 1",
  xAxis: xAxis,
  yAxis: yAxis,
  valueYField: "value1",
  valueXField: "date",
  tooltip: am5.Tooltip.new(root, {
    labelText: "{valueX}: {valueY}\n{previousDate}: {value2}"
  })
}));

series.strokes.template.setAll({
  strokeWidth: 2
});

series.get("tooltip").get("background").set("fillOpacity", 0.5);

var series2 = chart.series.push(am5xy.LineSeries.new(root, {
  name: "Series 2",
  xAxis: xAxis,
  yAxis: yAxis,
  valueYField: "value2",
  valueXField: "date"
}));
series2.strokes.template.setAll({
  strokeDasharray: [2, 2],
  strokeWidth: 2
});

// Set date fields
// https://www.amcharts.com/docs/v5/concepts/data/#Parsing_dates
root.dateFormatter.setAll({
  dateFormat: "dd-mm-yyyy",
  dateFields: ["valueX"]
});


// Set data
var data = [
{% for e in exchange.0 %}
{
  date: new Date({{ e.new_Date }}).getTime(),
  value1: {{ e.buying }},
  value2: {{ e.selling }},
  previousDate: new Date({{ e.previousDate }})
},
{% endfor %}
]

series.data.setAll(data);
series2.data.setAll(data);


// Make stuff animate on load
// https://www.amcharts.com/docs/v5/concepts/animations/
series.appear(1000);
series2.appear(1000);
chart.appear(1000, 100);

}); // end am5.ready()
</script>

<!-- HTML -->


<script>
am5.ready(function() {

// Create root element
// https://www.amcharts.com/docs/v5/getting-started/#Root_element
var root = am5.Root.new("chartdiv2");


// Set themes
// https://www.amcharts.com/docs/v5/concepts/themes/
root.setThemes([
  am5themes_Animated.new(root)
]);


// Create chart
// https://www.amcharts.com/docs/v5/charts/xy-chart/
var chart = root.container.children.push(am5xy.XYChart.new(root, {
  panX: true,
  panY: true,
  wheelX: "panX",
  wheelY: "zoomX",
  pinchZoomX:true
}));

chart.get("colors").set("step", 3);


// Add cursor
// https://www.amcharts.com/docs/v5/charts/xy-chart/cursor/
var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {}));
cursor.lineY.set("visible", false);


// Create axes
// https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
var xAxis = chart.xAxes.push(am5xy.DateAxis.new(root, {
  maxDeviation: 0.3,
  baseInterval: {
    timeUnit: "day",
    count: 1
  },
  renderer: am5xy.AxisRendererX.new(root, {}),
  tooltip: am5.Tooltip.new(root, {})
}));

var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
  maxDeviation: 0.3,
  renderer: am5xy.AxisRendererY.new(root, {})
}));


// Add series
// https://www.amcharts.com/docs/v5/charts/xy-chart/series/
var series = chart.series.push(am5xy.LineSeries.new(root, {
  name: "Series 1",
  xAxis: xAxis,
  yAxis: yAxis,
  valueYField: "value1",
  valueXField: "date",
  tooltip: am5.Tooltip.new(root, {
    labelText: "{valueX}: {valueY}\n{previousDate}: {value2}"
  })
}));

series.strokes.template.setAll({
  strokeWidth: 2
});

series.get("tooltip").get("background").set("fillOpacity", 0.5);

var series2 = chart.series.push(am5xy.LineSeries.new(root, {
  name: "Series 2",
  xAxis: xAxis,
  yAxis: yAxis,
  valueYField: "value2",
  valueXField: "date"
}));
series2.strokes.template.setAll({
  strokeDasharray: [2, 2],
  strokeWidth: 2
});

// Set date fields
// https://www.amcharts.com/docs/v5/concepts/data/#Parsing_dates
root.dateFormatter.setAll({
  dateFormat: "yyyy-MM-dd",
  dateFields: ["valueX"]
});


// Set data
var data = [
{% for e in exchange.1 %}
{
  date: new Date({{ e.new_Date }}).getTime(),
  value1: {{ e.buying }},
  value2: {{ e.selling }},
  previousDate: new Date({{ e.previousDate }})
},
{% endfor %}
]

series.data.setAll(data);
series2.data.setAll(data);


// Make stuff animate on load
// https://www.amcharts.com/docs/v5/concepts/animations/
series.appear(1000);
series2.appear(1000);
chart.appear(1000, 100);

}); // end am5.ready()
</script>

<!-- HTML -->
<br>
<table class="container-t container-1">
    <tr>
        <td>
            <h1>Готівковий курс <b>USD</b></h1>
            <div id="chartdiv"></div>
        </td>
        <td>
            <h1 class="container-1">Готівковий курс <b>EUR</b></h1>
            <div id="chartdiv2"></div>
        </td>
    </tr>
</table>


<h1>Новини</h1>
<table class="table container-1">
    {% for n in news %}
    {% if not n.done %}

    <tr>
        <td>
            <a href="{{ n.link }}" target="_blank"><img src="{{ n.img }}" width="100"></a>
        </td>
        <td>
        <a href="{{ n.link }}" target="_blank">
            <h7>{{ n.title }}</h7>
            <br>
            <span style="font-size:14px">Джерело: {{ n.source }} | {{ n.published }}</span>
        </a>
        </td>
    </tr>
    {% else %}
    <p>{{ n.title }}</p>
    {% endif %}

    {% endfor %}
</table>
<style>
    body {
        margin: 0;
        padding: 0;
        background-color: #acaaa7;
        /* Replace with your desired color */
    }
    .table-primary {
    width: 30%;
    float: left;
      box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
             margin:10px;
             font-size:15px;
             line-height:20px;
    }
    .table a {color:#000}
    #showHideContent {font-size:15px;}
    .container-1 a {
    background: linear-gradient(to bottom, #337AB7 0%, #337AB7 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    color: #000;
    text-decoration: none;
    padding-bottom: 2px;
    cursor: pointer;
}

.container-1 a:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23337AB7' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-2,10,-2 s 5,2,10,2 c 5,0,5,-2,10,-2 s 5,2,10,2'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 4px;
    background-repeat: repeat-x;
    text-decoration: none;
}
#chartdiv, #chartdiv2 {
  width: 95%;
  height: 250px;
}
.container-t {width: 100%; }
.container-1 {margin-bottom:20px}
</style>
</div>
<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'p3plcpnl0769'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script><script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script>
{% endblock %}