{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'contacts/css/styles.css' %}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{% static 'contacts/images/main.ico' %}" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<body>
    <table class="table-page" border=0 cellpadding="0" cellspacing="0">
        <tr>
            <td valign=top>

                {% block mainmenu %}
                <div class="header">
                    <ul id="mainmenu" class="mainmenu">
                        <li class="logo"><a href="{% url 'home' %}">
                                <div class="logo"></div>
                            </a></li>
                        {% for m in menu %}
                        <li><a href="{% url m.url_name %}">{{m.title}}</a></li>
                        {% endfor %}
                        {% if request.user.is_authenticated %}
                        <li class="last">

                            Welcome, <span style="font-size: 20px; font-weight: bold;">{{ user.username }}</span> | <a href=#><button type="button" class="btn btn-outline-danger btn-sm">Logout</button></a>
                        <li class="user-button__image"></li>
                        </li>
                        {%else %}
                        <li class="last">
                            <input type="submit" value="Login" class="btn btn-primary">
                            <button type="button" class="btn btn-outline-danger btn-sm" href=#>Register</button>
                            <a href=#>Register</a> | <a href=#>Login</a>
                        </li>
                        {% endif %}
                    </ul>
                    <div class="clear"></div>
                </div>
                {% endblock mainmenu %}

                <table class="table-content" border=0 cellpadding="0" cellspacing="0">
                    <tr>
                        <!-- Sidebar left -->
                        <td valign="top" class="left-chapters">
                            <ul id="leftchapters">
                                <li style="font-size: 25px; font-weight: bold;"><a href="{% url 'home' %}">Applications</a></li>


                                {% for a in apps %}
                                {% if a.pk == app_selected %}
                                <li><a href="{% url a.url_name %}">{{a.title}}</a></li>
                                
                                {% else %}
                                <li><a href="{% url a.url_name %}">{{a.title}}</a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </td>
                        <!-- End Sidebar's -->
                        <td valign="top" class="content">
                            <div class="content-text">
                                {% block content %}

                                {% endblock %}
                            </div>
                        </td>

            </td>
        </tr>
    </table>
    </td>
    </tr>
    <!-- Footer -->
    <tr>
        <td valign=top>
            <div id="footer">
                <p>Powered by Django Dreams Co. &copy; 2023 All rights reserved</p>
            </div>
        </td>
    </tr>
    </table>

</body>

</html>