{% extends 'contacts/base.html' %}

{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<h1>Delete Contact</h1>
<p>Are you sure you want to delete <strong>{{contact.first_name}} {{contact.last_name}}</strong> contact?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
</form>
<style>
    body {
        margin: 0;
        padding: 0;
        background-color: #acaaa7;
        /* Replace with your desired color */
    }
</style>
{% endblock %}