{% extends 'contacts/base.html' %}

{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<div>
    {% if messages %}
    {% for msg in messages %}
    <div class="alert {%if msg.tags %} alert-{{msg.tags}} {% endif %}" role="alert">{{msg}}
    </div>
    {% endfor %}
    {% endif %}
</div>

<h1>{{title}}</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for f in form %}
    <div class="col-sm-6">
        <p><label for="{{ f.id_for_label }}">{{f.label}}:</label></p>
        <p class="form-control" type="file" id="formFile">{{ f }}</p>
        <div class="fit2">
        <button type="submit" class="btn btn-success rounded-pill px-3">Import Contacts</button>
        <button type="reset" class="btn btn-secondary rounded-pill px-3">Reset</button>
        </div>
    </div>
    {% endfor %}
</form>
<style>
    body {
        margin: 0;
        padding: 0;
        background-color: #acaaa7;
        /* Replace with your desired color */
    }
</style>
{% endblock %}