{% extends 'contacts/base.html' %}
{% load custom_filters %}

{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

{% if messages %}
{% for msg in messages %}
<div class="alert {%if msg.tags %} alert-{{msg.tags}} {% endif %}" role="alert">{{msg}}</div>
{% endfor %}
{% endif %}
<div class="form-error">{{ form.non_field_errors }}</div>

<h1>Edit <strong>{{ contact }}'s</strong> phones:</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div>
        {{ phone_formset.management_form }}
        {% for phone_form in phone_formset %}
        <div class="phone-number-form margin">

            {% for f in phone_form %}
            <p>
                <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>
                {{ f }}
            </p>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            {% endfor %}
        </div>

        <div class="fit2">
        <button type="submit" class="btn btn-primary rounded-pill">Save Changes</button>
        <button type="reset" class="btn btn-secondary rounded-pill px-3">Reset</button>
    </div>
</form>

<style>
    body {
        margin: 0;
        padding: 0;
        background-color: #acaaa7;
        /* Replace with your desired color */
    }
</style>
{% endblock %}