{% extends 'contacts/base.html' %}

{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


{% if messages %}
<div>
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert">
        {{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="card mb-4">

                <div class="card-body">

                    <div class="pt-4 pb-2">
                        <h5 style="font-size: 24px" class="d-flex flex-column align-items-center"><strong>Register
                                Your Account</strong></h5>
                    </div>

                    <form class="g-3 needs-validation" method="POST">
                        {% csrf_token %}

                        <div class="mb-6 margin">
                            <label>Username:</label>
                            {{ form.username }}
                            <span>{{ form.errors.username }}</span>
                        </div>
                        <div class="mb-6 margin ">
                            <label class="">Email:</label>
                            {{ form.email }}
                            <span>{{ form.errors.email }}</span>
                        </div>
                        <div class="mb-6 margin">
                            <label>Password:</label>
                            {{ form.password1 }}
                            <span>{{ form.errors.password1 }}</span>
                        </div>
                        <div class="mb-6 margin">
                            <label>Confirm password:</label>
                            {{ form.password2}}
                            <span>{{ form.errors.password2 }}</span>
                        </div>

                        <div>
                            <div class="d-grid gap-2 mt-3">
                                <button class="btn btn-primary" type="submit">Submit</button>

                                <button class="btn btn-secondary" type="reset">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}