{% extends 'contacts/base.html' %}

{% block content %}

<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                <div class="card mb-3">

                    <div class="card-body">

                        <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Register Your Account</h5>
                        </div>

                        {% if form.errors %}
                        <span class="alert alert-danger" role="alert">{{form.non_field_errors}}</span>
                        {% endif %}

                        {% if messages %}
                        <div>
                            {% for message in messages %}
                            <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert">
                                {{ message }}</div>
                            {% endfor %}
                        </div>
                        {% endif %}

                        <form class="row g-3 needs-validation" method="POST" novalidate="">
                            {% csrf_token %}

                            <div class="row mb-6">
                                <label>Username:</label>
                                {{ form.username }}
                                <span>{{ form.errors.username }}</span>
                            </div>
                            <div class="row mb-6">
                                <label>Email:</label>
                                {{ form.email }}
                                <span>{{ form.errors.email }}</span>
                            </div>

                            <div class="row mb-6">
                                <label>Password:</label>
                                {{ form.password1 }}
                                <span>{{ form.errors.password1 }}</span>
                            </div>
                            <div class="row mb-6">
                                <label>Confirm password:</label>
                                {{ form.password2}}
                                <span>{{ form.errors.password2 }}</span>
                            </div>

                            <div>
                                <div class="d-grid gap-2 mt-3">
                                    <button class="btn btn-primary" type="submit">Submit</button>

                                    <button class="btn btn-secondary" type="reset">Reset</button>
                                </div>
                            </div>
                        </form>

                        {% endblock %}